<div id = "main" class="container center">
  <div class="page-area">
    <div class="text-box">
      <!-- Added section for semantics -->
      <pb-article>
      <h1>Stay on track</h1>
      <div>Do you know where you are spending your money? If you really stop to track it down,
          you would get surprised! Proper budget management depends on real data... and this
          app will help you with that!
          <!-- Creating good link text - SEO -->
          <span>Read more about how to <a href="sectionDetail.html">stay on track</a></span></div>

  </pb-article>
  </div>

  <div class="text-box">
    <!-- Added section for semantics -->
    <pb-article>
    <h1>Results</h1>
    <div>
        People who stick to a financial plan, budgeting every expense, get out of debt faster!
        Also, they to live happier lives... since they expend without guilt or fear...
        because they know it is all good and accounted for.
        <!-- Creating good link text - SEO -->
        <span>Read more about how to <a href="sectionDetail.html">generate Results</a></span>
    </div>
</pb-article>
</div>

<div class="text-box">
    <!-- Added section for semantics -->
    <pb-article>
    <h1>Alerts</h1>
    <div>
        What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
        <!-- Creating good link text - SEO -->
        <span>Read more about how to <a href="sectionDetail.html">create Alerts</a></span>
    </div>
</pb-article>
</div>

<div class="text-box">
    <!-- Added section for semantics -->
    <pb-article>
    <h1>Free</h1>
    <div>
        This app is free!!! And you are the only one holding your data! Terms and Conditions apply.
        <!-- Creating good link text - SEO -->
        <span>Read more about how to <a href="sectionDetail.html">Terms and Conditions</a></span>
    </div>
</pb-article>
</div>

<div class="text-box">
    <!-- Added section for semantics -->
    <pb-article>
    <h1>Stay on track</h1>
    <div>
        Do you know where you are spending your money? If you really stop to track it down,
        you would get surprised! Proper budget management depends on real data... and this
        app will help you with that!
        <!-- Creating good link text - SEO -->
        <span>Read more about how to <a href="sectionDetail.html">stay on track</a></span>
    </div>
</pb-article>
</div>

<div class="text-box">
     <!-- Added section for semantics -->
    <pb-article>
    <h1>Results</h1>
    <div>
        People who stick to a financial plan, budgeting every expense, get out of debt faster!
        Also, they to live happier lives... since they expend without guilt or fear...
        because they know it is all good and accounted for.
        <!-- Creating good link text - SEO -->
        <span>Read more about how to <a href="sectionDetail.html">generate Results</a></span>
    </div>
</pb-article>
</div>

<div class="text-box">
     <!-- Added section for semantics -->
    <pb-article>
    <h1>Alerts</h1>
    <div>
        What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
        <!-- Creating good link text - SEO -->
        <span>Read more about how to <a href="sectionDetail.html">create Alerts</a></span>
    </div>
</pb-article>
</div>


<div class="text-box">
     <!-- Added section for semantics -->
    <pb-article>
    <h1>Free</h1>
    <div>
        This app is free!!! And you are the only one holding your data! Terms and Conditions apply.
        <!-- Creating good link text - SEO -->
        <span>Read more about how to <a href="sectionDetail.html">Terms and Conditions</a></span>
    </div>
</pb-article>
</div>


<div class="chart-container" style="position: relative; width:700px; margin:auto">
    <h1>Chart Js Pie Chart</h1>
    <canvas id="myChart"></canvas>

    <h1>D3Js Chart</h1>
    <div class="another-chart-container"></div>
    </div>

  </div>
</div>
